.header {
  padding: 2rem 0;
  margin-bottom: 2rem;
  background: $color--blue;

  &--collapsed {
    padding: 0.5rem 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @include container();
    color: $color--white;
  }
}